<div class="row">
  <div class="col-md-3">
    <div id="bluecontainer" class="homecontainer"><i class="fa fa-child fa-4x"></i><br></br>FITNESS</div>
  </div>
  <div class="col-md-3">
    <div id="greencontainer" class="homecontainer"><i class="fa fa-tachometer fa-4x"></i><br></br>GYM</div>
  </div>
  <div class="col-md-3">
    <div id="redcontainer" class="homecontainer"><i class="fa fa-forumbee fa-4x"></i><br></br>SQUASH</div>
  </div>
  <div class="col-md-3">
    <div id="graycontainer" class="homecontainer"><i class="fa fa-coffee fa-4x"></i><br></br>CLUB CAFFE</div>
  </div>
</div>