<div id="bluecontainer" class="tilelink" > <i class="icon-pitch"></i> <br></br>  FITNESS</div>
<div id="greencontainer" class="tilelink" > <i class="icon-gauge"></i> <br></br> GYM </div>
<div id="redcontainer" class="tilelink" > <i class="icon-tennis"></i> <br></br> SQUASH</div>
<div id="graycontainer" class="tilelink" > <i class="icon-emo-coffee"></i><br></br> CLUB CAFFE</div>


<div id="footer">
	
	<div id="fb" class="tilelink" ><i class="icon-facebook-1"></i> </div>
	<div id="tw" class="tilelink" ><i class="icon-twitter"></i></div>
	<div id="yt" class="tilelink" ><i class="icon-youtube"></i></div>
	<div id="gp" class="tilelink" ><i class="icon-gplus-1"></i> </div>
	<div style="clear:both;"></div>
	
</div>