<div class="center jumbotron">
  <h1>Strona tytułowa</h1>

  <h2>
    placeholder dla strony tytułowej aplikacji :)
    it works!
  </h2>

  <%= link_to "Zarejestruj się!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>

    <div id="bluecontainer" class="tilelink" > <i class="icon-pitch"></i> <br></br>  FITNESS</div>
    <div id="greencontainer" class="tilelink" > <i class="icon-gauge"></i> <br></br> GYM </div>
    <div id="redcontainer" class="tilelink" > <i class="icon-tennis"></i> <br></br> SQUASH</div>
    <div id="graycontainer" class="tilelink" > <i class="icon-emo-coffee"></i><br></br> CLUB CAFFE</div>
    
    