<div class="jumbotron">
  <div class="container">
    <h2>Welcome, <%= current_admin.email %>!</h2>
    <p><%= link_to "Manage users", admin_users_path %></p>
    <p><%= link_to "Manage receptionists", admin_receptionists_path %></p>
  </div>
</div>