<div class="jumbotron">
  <div class="container">
    <h2>Welcome, <%= current_user.first_name %>!</h2>
    Your subscription is
    <% if current_user.is_subscription_active? %>
    avaiable for <%= @days_left %> more days
    <% else %>
    not avaiable.
    <% end %>
    </br>
    <%= link_to "Reserve pool", users_reservation_index_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
