// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
{
  /*background-image:url('subtlepatterns/symphony.png');*/
  background-color: #222222 !important;
}

#container
{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  
}

#bluecontainer
{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 17px;
  margin-right: 10px;
  width: 225px;
  background-color:#23B094;
  float: left;
  text-align: center;
  height: 600px;
  font-size: 40px;
  font-family: 'Josefin Sans', sans-serif;
  
}

#bluecontainer:hover
{
  background-color: #f8f6d5;
}

#greencontainer
{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  width: 225px;
  background-color: #23B094;
  float: left;
  text-align: center;
  height: 600px;
  font-size: 40px;
  font-family: 'Josefin Sans', sans-serif;
}

#greencontainer:hover
{
  background-color: #f8f6d5;
}

#graycontainer
{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  width: 225px;
  background-color: #23B094;
  float: left;
  text-align: center;
  height: 600px;
  font-size: 40px;
  font-family: 'Josefin Sans', sans-serif;
}
  
#graycontainer:hover
{
  background-color: #f8f6d5;
}

#redcontainer
{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  width: 225px;
  background-color: #23B094;
  float: left;
  text-align: center;
  height: 600px;
  font-size: 40px;
  font-family: 'Josefin Sans', sans-serif;
}

#redcontainer:hover
{
  background-color: #f8f6d5;
}

 #fb
 {
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 17px;
  margin-right: 10px;
  width: 225px;
  background-color:#222222; /*#4668b3*/;
  float: left;
  text-align: center;
  height: 200px;
}
#fb:hover
{
  background-color: #3557a2;
}



#tw
{
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  width: 225px;
  background-color: #222222;
  float: left;
  text-align: center;
  height: 200px;
  
}

#tw:hover
{
  background-color: #2084c2;
}


#yt
{
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  width: 225px;
  background-color: #222222;
  float: left;
  text-align: center;
  height: 200px;

} 
#yt:hover
{
  background-color: #c83237;
}

#gp
{
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  width: 225px;
  background-color: #222222;
  float: left;
  text-align: center;
  height: 200px;
  
}

#gp:hover
{
  background-color: #c84222;
}
